$verde95: #ebf9ee;
$verde: #2f9e41;
$red: #cd191e;

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
}

.cards {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #d8f3de;
  border-style: dashed;
  border-color: $verde;
  //border: 1px solid #2f9e41;
  //background: linear-gradient(#2f9e41, #ebf9ee)

  &:hover {
    background-color: $verde;
    border-color: #d8f3de;
    color: white;
  }
}

/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
} */

form {
  display: grid;
  grid-template-columns: minmax(250px, 0.4fr);
  justify-content: center;  
}

.descricao{
  height: 135px;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.titulo {
  background-color: #b0e8ba;
  color: $red;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 3px;
}

.edit-delete-icons {
  cursor: pointer;
  color: black;

  &:hover {
    color: white;
  }
}
