$verde: #2f9e41;
$vermelho: #cd191e;

.card-item {
  width: 250px;
  margin: 0 auto;
  display: grid;
  border: 3px solid grey;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;

  .titulo {
    //flex: 0 0 20%;
    font-weight: bold;
    font-size: 18px;
    color: $verde;
  }

  .mediador {
    //flex: 0 0 20%;
    font-size: 16px;
    color: $vermelho;
  }

  .data {
    //flex: 0 0 20%;
    font-size: 14px;
  }

  .horario {
    //flex: 0 0 20%;
    font-size: 14px;
  }
  .vaga {
   // flex: 0 0 20%;
    font-size: 14px;
  }
}