.wrapper-sigin-signup {
  display: flex;
  flex-direction: column;
}

.content-sigin-signup {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 10px;
}

.meio-sigin-signup {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: white;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}
