$verde: #2f9e41;
$verde-light: #73d884;
$red: #cd191e;

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: $verde;
  padding-right: 10px;

  @media screen and (max-width: 800px) {
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;

    @media screen and (max-width: 800px) {
      padding: 0px;
    }
  }

  .circle-with-text {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 16px;
    background: $verde-light;
    line-height: 70px;
    text-align: center;
    color: $red;
  }
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 800px) {
    width: 80%;
  }

  .option {
    background-color: white;
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      color: $verde;
      // border: 1px solid black;
    }
  }
}
